# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Model Files
*.pt
*.npz

# VS Code / IDE
.vscode/
.idea/

# Logs and scratch
logs/
scratch/
